//防止原始碼變成亂碼
@charset "UTF-8";

// 共通部分
html {
    font-size: 100%;
}
body{
    //設定字體
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.7;
    color: #432;
}
a{
    text-decoration: none;
}
//設定影像寬度上限為父元素的100%
img{
    max-width: 100%;
}